.grid-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin: 30px auto;
  width: 60%;
}

.card {
    width: 50%;
    margin: 30px auto;
    border: 1px solid gray;
    text-align: left;
    align-items: center;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    border-radius: 50px;
}